/* setiap Ada transform maka di transition dengan ease-out / transform : */
.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

/* Hanya terlihat Jika < 500px / Tidak terlihat jika diatas 500pxs */
@media (min-width: 500px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.Logo {
   height: 11%; 
   margin-bottom: 32px;
}